@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'poke';
  src: url('Pokemon-Hollow.ttf');
}

@font-face {
  font-family: 'games';
  src: url('PixelGamer-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(135deg, #1d2b64, #f8cdda);
  color: #fff;
  min-height: 100vh;
  background-image: url(https://wallpapercave.com/wp/wp1826525.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.titulo {
  font-size: 55px;
  color: #ffd900;
  font-family: 'games', ;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000;
}

.titulo2 {
  font-size: 65px;
  color: #ffd900;
  font-family: 'games',;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000;
  margin-top: 20px;
}

.container {
  background: rgba(134, 113, 113, 0.188);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 16px;
  background: #FF0000;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
}

.btn:hover {
  background: #cc0000;
  transform: scale(1.05);
}

p {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'games', ;
  color: #ffffff;
  text-align: justify;
  text-indent: 30px;
  color: #ffffff;
}
